
<footer>
  <div class="About us pt-5 pb-5" id="">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <h1 class="">About us</h1>
                  <p class=""></p>
              </div>
              <div class="col-12">
                  <div class="d-flex flex-row justify-content-center">
                      <h3 class="">Follow On</h3>
                      <div class="">
                          <i class="fab fa-twitter icon fa-3x "></i>
                      </div>
                      <div class="">
                          <i class="fab fa-instagram icon fa-3x "></i>
                      </div>
                      <div class="">
                          <i class="fab fa-facebook icon fa-3x "></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>

</body>
</html>