<%- include("partials/header") -%>
<%- include("partials/beforeLoginNavbar") -%>

<h1>List of Enrolled Colleges</h1>

<ul>
  <li> <a href="/">College1</a> <a href="">JOIN</a> </li>
  <li> <a href="/">College2</a> <a href="">JOIN</a></li>
  <li> <a href="/">College2</a> <a href="">JOIN</a></li>

</ul>


<%- include("partials/footer") -%>