<%- include("partials/header") -%>
<%- include("partials/beforeLoginNavbar") -%>

    <div id="LS">
              <div id="login">   
                
                  <h1><%= Message %></h1>
                
                <form action="/login" method="post">
                
                  <div class="field-wrap">
                  <label>
                    Email Address<span class="req">*</span>
                  </label>
                  <input type="email"required autocomplete="off" name="username"/>
                </div>
                
                <div class="field-wrap">
                  <label>
                    Password<span class="req">*</span>
                  </label>
                  <input type="password"required autocomplete="off" name="password"/>
                </div>
                
                <p class="forgot"><a href="/forgot">Forgot Password?</a></p>
                <a href="/register">register</a>
                <hr>
                <button type="submit" class="button button-block">Log In</button>
                
                </form>
      
              </div>
              </div>
    </div>
    </div>
<%- include("partials/footer") -%>
