<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <a href="/afterlogin/college/coding">coding</a>
  <a href="/afterlogin/college/dance">dance</a>
  <a href="/afterlogin/college/fucking">fucking</a>
</body>
</html>