<%- include("partials/header") -%>
<%- include("partials/beforeLoginNavbar") -%>


<div class="form">
      
  
  
  <div class="tab-content">
    <div id="signup">   
      <h1>Sign Up for Free</h1>
      
      <form action="/register" method="post">
      
      <div class="top-row">
        <div class="field-wrap">
          <label>
            First Name<span class="req">*</span>
          </label>
          <input type="text" name="fname" required autocomplete="off" />
        </div>
    
        <div class="field-wrap">
          <label>
            Last Name<span class="req">*</span>
          </label>
          <input type="text"required name="lname" autocomplete="off"/>
        </div>
      </div>


      <div class="field-wrap">
        <label>
          Email Address<span class="req">*</span>
        </label>
        <input type="email"required autocomplete="off" name="username"/>
      </div>

      <div class="field-wrap">
          <label>
            Phone no.<span class="req">*</span>
          </label>
          <input type="tel"required name="phone" autocomplete="off"/>
      </div>

      <div class="field-wrap">
          <label>
            College/University Name<span class="req">*</span>
          </label>
          <input type="text"required name="college" autocomplete="off"/>
        </div>
      </div>
      
      
      <div class="field-wrap">
        <label>
          Set A Password<span class="req">*</span>
        </label>
        <input type="password"required autocomplete="off" name="password"/>
      </div>


      <button type="submit" class="button button-block"/>Get Started</button>
      
      </form>

    </div>
    <br>
    <div>
      <a class="btn btn-dark" href="/auth/google" role="button">Sign In with Google</a>
    </div>

<%- include("partials/footer") -%>