<%- include("../partials/header") -%>
<%- include("../partials/afterLoginNavbar") -%>

<h1>My profile</h1>

<h2>Clubs You joined</h2>

<ul>
  <% Clubs.forEach((club)=>{ %>
    <li><%= club %></li>
  <% }) %>
</ul>

<%- include("../partials/footer") -%>